body {
  /* background-image: url("../../assets/image4.jpg"); */
  background-size: cover;
}

#basic-nav-dropdown {
  color: white;
}

.pentkart-heading {
  color: black;
  text-decoration: none;
}

.pentkart-heading:hover {
  color: white;
  transition: 0.7s ease;
}

.navigation-bar-items:hover,
#basic-nav-dropdown:hover {
  color: rgb(6, 237, 156);
  transition: 1s ease;
}

.carousel-image {
  /* max-height: 800px; */
  width: 1300px;
}

.account-link {
  color: rgb(247, 48, 81);
  text-decoration: none;
  background: none;
  transition: 1s ease;
}

.account-link:hover {
  color: rgb(122, 65, 65);
  background: none;
  transition: 1s ease;
}

.account-link:active {
  color: rgb(4, 93, 32);
}

.navigation-bar-items {
  color: white;
}

.img-logo {
  height: 40px;
  /* width: 40px; */
  border-radius: 50%;
}

/* first container */
#first-container {
  /* background-image: url("https://www.hp.com/us-en/shop/app/assets/images/uploads/prod/ecommerce-vs-online-marketplace1603983748724190.jpg"); */

  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
  /* background-color: red; */
}

#first-container:hover {
  color: rgb(238, 222, 240);
  /* border: 2px solid pink; */
}

img {
  /* Change it later */
  height: 400px;
  /* border-radius: 20px; */
}

.card-image {
 height: 150px;
 width: 170px;
 text-align: center;
  /* opacity: 0.8; */
  margin: auto;
  transition: 1s ease;
}

.card-image:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
}

.card-detail-link {
  color: rgb(234, 108, 129);
  text-decoration: none;
}

.card-detail-link:hover {
  color: green;
  border-bottom: 2px solid rgb(5, 171, 74);
  transition: all 0.1s ease;
}

.card-items {
  color: black;
  max-height: 500px;
  transition: all 0.3s ease;
}

.card-items:hover {
  box-shadow: 0 0 8px #d3d3d3;
}

.first-card-items {
  border-bottom: 1px solid rgb(191, 190, 190);
  border : 1px solid gray;
  border-radius: 20px;
  /* width: 16rem; */
  /* height: auto; */
  background-color: white;
  padding-top: 15px;
}

/* .second-card{
  width: 80%;
}

.second-card .img{
  width: 100%;
  height: auto;
} */

/* .first-card-heading {
  background-color: rgb(240, 243, 246);
  border-radius: 5px;
} */

.fashion-part {
  background-color: #f5f5f5;
}

.fashion-part-first {
  background-color: white;
}

h3 {
  color: black;
}

/* About Us */
.about_us {
  text-align: justify;
  background-image: url("");
  background-size: cover;
  background-attachment: fixed;
}

.about_us .card:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 0.3s ease-in-out;
}

.footer {
  border-top: 2px solid gray;
  color: black;
}

.footer_email_link {
  color: rgb(53, 23, 52);
}

.footer_email_link span:hover {
  color: blueviolet;
  border-bottom: 1px solid blueviolet;
  transition: all 0.4s ease;
}
